<!DOCTYPE>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/image/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="/image/photo.jpg" class="portrait" alt="">
        </div>
        {{!-- {{age}} --}}
        {{>footer}}
    </body>
</html>