<!DOCTYPE>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/image/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p id = "about-content">This site was created by Buddhabhushan Bhagat. It uses data from mapbox.com ahe weatherstack.com!</p>
            <img src="/image/photo.JPG" class="portrait" alt="">
        </div>
        {{!-- {{age}} --}}
        {{>footer}}
    </body>
</html>